/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@400;500&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Roboto Condensed", sans-serif;
  --h3-font-size: 20px;
  --normal-font-size: 15px;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
}


body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

/* Navigation bar */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

header{
  display: flex;
  align-items: center;
  background-color: #164d568e;
}

header img{
  width: 130px;
  height: auto;
  float: left;
  margin: 20px;
  padding: 10px;
}

nav{
  margin-left: 150px;
}

nav ul {
  padding: 0px;
}

nav li{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

nav li a{
  text-decoration: none;
  color: #164D56;
  margin: 40px;
}

nav li a:hover{
  color: #f5f5f5;
}

nav li.signup{
  margin-left: 120px;
}


h1, h2, p, h3{
  font-family: "Roboto Condensed", sans-serif;
}

h3 {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
}

/* -------------- Body ----------------*/

.container{
    max-width: 1000px;
    margin: 24px auto 60px;
    padding: 0 16px;
}

h1{
    text-align: center;
    color: #164D56;
    font-size: 50px;
    margin: 60px;
}

/* Layout teo columns side by side */ 

.container{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.col-left{
  flex: 1;
  min-width: 320px;
  background-color: #164d5646;
  pad: 20px;
  border-radius: 20px;
  border: 1px solid #0b0b0b;
}

input[type="text"],
input[type="email"]{
  width: 80%;
  padding: 8px;
  margin: 5px 0 10px 70px;
  border: 1px solid #0b0b0b;
  border-radius: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

h2{
  color: #164D56;
  margin: 40px 0 20px 70px;
  padding-top: 20px;
}

.row{
  display: flex;
  gap: 10px;
}

.hint{
  color: black;
  font-style: italic;
  font-size: 13px;
  margin-top: -5px;
  margin-left: 70px;
}

.checkline{
  margin-left: 70px;
  margin-top: 10px;
  color: #0b0b0b;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 13px;
}
