/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@400;500&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Roboto Condensed", sans-serif;
  --h3-font-size: 20px;
  --normal-font-size: 15px;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
}


body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h1, h2, p, h3{
  font-family: "Roboto Condensed", sans-serif;
}

h3 {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
}




/* Navigation bar */

header{
  width: 100%;
  background-color: #164d568e;
}

nav{
  height: 97px;
  max-width: 1320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  column-gap: 4rem;
}

nav img{
  width: max-content;
  height: 69px;
}


nav li{
  display: inline-block;
}

nav a{
  font-weight: var(--font-semi-bold);
  font-size: 20px;
  text-decoration: none;
  color: #164D56;
}

nav a:hover {
  color: #f5f5f5;
}

nav i {
  font-size: 1.5rem;
  color: #164D56;
}

.nav__list {
  display: flex;
  flex-direction: row;
  column-gap: 3rem;
}

/* CSS for Product Page*/

.banner-product{ 
  background-image: url(../../assets/images/mountain-bg.jpg);
  background-size: cover;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.banner-product h1{
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #f5f5f5;
}

.dropbtn{
    background-color: #164d5686;
    color: #0b0b0b;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #0b0b0b;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
    background-color: #164d5646;
}

.filter-dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #164d5646;
    min-width: 230px;
    border: 1px solid #0b0b0b;
    z-index: 1;
}


/* Footer ------- */



.grid {
  display: grid;
  gap: 4.5rem;
}

/* FOOTER ============================================= */
.footer {
  margin-top: 3rem;
}

.footer__content {
  row-gap: 3rem;
}

.footer__rainy{
  display: flex;
  flex-direction: column;        
  justify-content: center;       
  align-items: center;  
  gap: 1.5rem;
}
.footer__logo img {
  width: 129px;
}

.footer__social {
  display: flex;
  align-items: center; 
  gap: 5px;
}
.footer__social img {
  width: 30px;
  object-fit: contain;
}

.footer__data {
  grid-template-columns: repeat(5, max-content);
  justify-content: center;
}

.footer__title {
  margin-bottom: .5rem;
  color: #0b0b0b;
}
.footer__links {
  display: grid;
  row-gap: 0.25rem;
  color: #0b0b0b;
}
.footer__icon-pay{
  display: flex;
  justify-content: center; 
  gap: 20px;
}
.footer__icon-pay img{
  max-width: 45px;
  object-fit: contain;
}

.footer__copy {
  text-align: center;
  color: #F5F5F5;
  background-color: black;
  padding: .25rem 0;
}