/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

/* Navigation bar */

header{
  display: flex;
  align-items: center;
  background-color: #164d568e;
}

img{
  width: 130px;
  height: auto;
  float: left;
  margin: 20px;
  padding: 10px;
}

nav{
  margin-left: 150px;
}

nav ul {
  padding: 0px;
}

nav li{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

li a{
  text-decoration: none;
  color: #164D56;
  margin: 25px;
}


