/* Use import to split up your CSS into manageable chunks */
@import url("./_reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./_variables.css");
/* Feel free to add as many of these imports as you need */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Poppins:wght@400;500&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --body-font: "Roboto Condensed", sans-serif;
  --h3-font-size: 20px;
  --normal-font-size: 15px;

  /* Font weight */
  --font-regular: 400;
  --font-semi-bold: 600;
}


body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

/* Navigation bar */

header{
  display: flex;
  align-items: center;
  background-color: #164d568e;
}

img{
  width: 130px;
  height: auto;
  float: left;
  margin: 20px;
  padding: 10px;
}

nav{
  margin-left: 150px;
}

nav ul {
  padding: 0px;
}

nav li{
  display: inline-block;
  font-weight: bold;
  font-size: 18px;
}

li a{
  text-decoration: none;
  color: #164D56;
  margin: 40px;
}

li a:hover{
  color: #f5f5f5;
}

li.signup{
  margin-left: 120px;
}

/* Welcome Banner*/

.banner{ 
  background-image: url(../../assets/images/banner.jpg);
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.banner-content{
  position: relative;
  z-index: 2;
}

.banner-content h1{
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #0b0b0b;
}

.banner-content p{
  font-size: 20px;
  margin-bottom: 30px;
  font-style: italic;
  color: #0b0b0b;
}

button.shopnow{
  background-color: #e27c60a6;
  padding: 10px 30px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
}

button.shopnow:hover{
  background-color: #e27c60;
}

/* New Arrival */

.new-arrival{
  padding: 60px 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.new-arrival h1{
  font-size: 50px;
  color: #164D56;
  margin-bottom: 40px;
}

.product-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.product-card{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0,0.05);
  transition: transform 0.3s ease;
  background-color: white;
}

.product-card img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.product-card h3{
  font-size: 20px;
  margin-bottom: 10px;
  color: #164D56;
}

.product-card p {
  color: #2b2b2b;
  font-weight: bold;
  margin-bottom: 15px;
}

button.view-product{
  background-color: #e27c60;
  padding: 8px 30px;
  border-radius: 25px;
  font-size: 15px;
  cursor: pointer;
}

button.view-product:hover{
  background-color: #e27c60a4;
}


/* Shop by Gender*/

.gender{
  padding: 30px 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.gender h1{
  font-size: 50px;
  color: #164D56;
  margin-bottom: 40px;
}

.gender-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin: 60px;
}

.gender-card-male{
  background-image: url(../../assets/images/man-hiking-clothes.jpg);
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 25px;
  opacity: 0.5;
}

.gender-card-female{
  background-image: url(../../assets/images/woman-hiking-clothes.jpg);
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 25px;
  opacity: 0.5;
}

.gender-card-female:hover{
  cursor: pointer;
  opacity: 1;
}

.gender-card-male:hover{
  cursor: pointer;
  opacity: 1;
}

.gender-card-female,
.gender-card-male 
h3{
  text-align: center;
  font-size: 40px;
}

/* About us */

 .about-us{
  background-image: url(../../assets/images/banner-about-us.jpg);
  background-size: cover;
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
 }

 .about-us-content{
  position: relative;
  z-index: 2;
 }

 .about-us-content h2{
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #f5f5f5;
 }

 /* Shop by acivity */

.activity{
  padding: 30px 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.activity h1{
  font-size: 50px;
  color: #164D56;
  margin-bottom: 50px;
}

.activity-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 20px;
}

.hiking{
  background-image: url(../../assets/images/woman-hiking.jpg);
  background-size: cover;
  width: 250px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 25px;
}

.skiing{
  background-image: url(../../assets/images/man-skiing.jpg);
  background-size: cover;
  width: 250px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 25px;
}

.camping{
  background-image: url(../../assets/images/camping.jpg);
  background-size: cover;
  width: 250px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 25px;
}

.canoeing{
  background-image: url(../../assets/images/canoeing.jpg);
  background-size: cover;
  width: 250px;
  height: 200px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  border-radius: 25px;
}

/* Special Price */

.sale{
  background-color: #164d56dc;
}

.sale h1{
  color: #f5f5f5;
  padding: 50px 60px;
}

.sale-card{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  margin: 20px;
}

.sale-img{
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0,0.05);
  transition: transform 0.3s ease;
}

.sale-img img{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* Review */

.review{
  padding: 30px 40px;
  background-color: #f5f5f5;
  text-align: center;
}

.review h1{
  font-size: 50px;
  color: #164D56;
  margin-bottom: 50px;
}


/* Subscibe */

.subscribe{
  background-color: #164d5694;
}

.subscribe h1{
  font-size: 30px;
  color: #164D56;
  margin-bottom: 35px;
  padding-top: 50px;
  text-align: center;
}

.subscribe-input{
  margin: 20px 50px;
  text-align: center;
}

.subscribe-input input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

.subscribe-input button{
  background-color: #e27c60;
  padding: 5px 25px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.subscribe-input button:hover{
  background-color: #e27c60a4;
}

.subscribe p{
  text-align: center;
  padding-bottom: 50px;
  font-style: italic;
  color: #164D56;
}


/* Footer ------- */

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

h3 {
  font-family: var(--body-font);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}

ul {
  list-style: none;
}

a {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
  font-size: var(--normal-font-size);
  text-decoration: none;
  color: inherit;
  transition: color 0.4s;
}

img {
  max-width: 100%;
  height: auto;
}

span {
  font-family: var(--body-font);
  font-weight: var(--font-regular);
}

.grid {
  display: grid;
  gap: 4.5rem;
}

/* FOOTER ============================================= */
.footer {
  padding: 3rem 0;
}

.footer__content {
  row-gap: 3rem;
}

.footer__rainy{
  display: flex;
  flex-direction: column;        
  justify-content: center;       
  align-items: center;  
  gap: 1.5rem;
}
.footer__logo img {
  width: 129px;
}

.footer__social {
  display: flex;
  align-items: center; 
  gap: 5px;
}
.footer__social img {
  width: 30px;
  object-fit: contain;
}

.footer__data {
  grid-template-columns: repeat(5, max-content);
  /* gap: 2.5rem 2rem; */
  justify-content: center;
}

.footer__title {
  margin-bottom: .5rem;
}

.footer__links {
  display: grid;
  row-gap: 0.25rem;
}

.footer__icon-pay{
  display: flex;
  justify-content: center; 
  gap: 20px;
}
.footer__icon-pay img{
  max-width: 45px;
  object-fit: contain;
}

.footer__copy {
  text-align: center;
  color: #F5F5F5;
  background-color: black;
  padding: .25rem 0;
}



/* CSS for Product Page*/

.banner-product{ 
  background-image: url(../../assets/images/mountain-bg.jpg);
  background-size: cover;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.banner-product h1{
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 500;
  color: #f5f5f5;
}