<footer class="footer">
    <div class="footer__container container grid">
      <div class="footer__content grid">
        <div class="footer__data grid">
          <div class="footer__rainy">
            <div class="footer__logo">
              <img src="/assets/images/RainyDays_Logo.png" alt="rainydays logo">
            </div>
            <ul class="footer__social">
              <li>
                <a href="#">
                  <img src="/assets/images/instagram-logo.png" alt="instagram link">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/images/facebook-logo.png" alt="facebook link">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/images/youtube-logo.png" alt="youtube link">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="/assets/images/twitter-logo.png" alt="twitter link">
                </a>
              </li>

            </ul>
          </div>
          <div>
            <h3 class="footer__title">Shop</h3>
            <ul class="footer__links">
              <li>
                <a href="#" class="footer__link">Men</a>
              </li>
              <li>
                <a href="#" class="footer__link">Women</a>
              </li>
              <li>
                <a href="#" class="footer__link">New Arrivals</a>
              </li>
              <li>
                <a href="#" class="footer__link">Shop by Activity</a>
              </li>
              <li>
                <a href="#" class="footer__link">Sale</a>
              </li>

            </ul>
          </div>

          <div>
            <h3 class="footer__title">About Us</h3>
            <ul class="footer__links">
              <li>
                <a href="#" class="footer__link">About Us</a>
              </li>
              <li>
                <a href="#" class="footer__link">Sustainability / Materials</a>
              </li>
              <li>
                <a href="#" class="footer__link">Inspirations</a>
              </li>
              <li>
                <a href="#" class="footer__link">Our Shops</a>
              </li>
            </ul>
          </div>

          <div>
            <h3 class="footer__title">Support</h3>
            <ul class="footer__links">
              <li>
                <a href="#" class="footer__link">Shipping & Delivery</a>
              </li>
              <li>
                <a href="#" class="footer__link">Return & Exchange</a>
              </li>
              <li>
                <a href="#" class="footer__link">Size Guide</a>
              </li>
              <li>
                <a href="#" class="footer__link">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="footer__payment">
            <h3 class="footer__title">We accept all major payment methods</h3>
            <div class="footer__pay-item">
              <div class="footer__icon-pay">
                <img src="/assets/images/visa-logo.png" alt="visa logo">
                <img src="/assets/images/mastercard-logo.png" alt="mastercard logo">
                <img src="/assets/images/amex-logo.png" alt="amex logo">
                <img src="/assets/images/unionpay- logo.png" alt="union pay logo">
              </div>
              <div class="footer__icon-pay">
                <img src="/assets/images/paypal-logo.png" alt="paypal logo">
                <img src="/assets/images/applepay-logo.png" alt="apple pay logo">
                <img src="/assets/images/googlepay-logo.png" alt="google pay logo">
              </div>
            </div>
          </div>
        </div>
        <div class="footer__copy">
          <span>
            &#169; Rainydays (2025) Privacy Policy Terms & Conditions Cookies Policy
          </span>
        </div>
      </div>
    </div>
  </footer>